header {
    text-align: center;
    font-size: 100px;
}

ul {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    word-spacing: 50px;
    font-size: 30px;
}

li {
    display: inline-block;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

head {
    background-color: aquamarine;
}

body {
    background-color: aqua
}

a {
    background-color: red;
}

div {
    text-align: right;
}

p {
    background-color: yellow;
}

textarea {
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__340.jpg);
}

table,
th,
tr {
    margin-left: 70px;
    margin-right: 70px;
    padding-right: 50px;
    padding-left: 100px;
    text-align: center;
    background-color: crimson
}

td {
    font-family: serif;
    font-size: 40px;
}

.test1 {
    font-family: cursive;
    color: brown;
    font-size: 50px;
}

.test2 {
    text-align: center;
    font-family: monospace;
    word-spacing: 50px;
    text-decoration: underline;
}

.test3 {
    font-variant-caps: all-small-caps;
}

.test4 {
    background-color: bisque
}

p:hover {
    color: orange;
    text-decoration: underline overline line-through;
}

.test5 {
    font-weight: bolder;
    margin-bottom: 70px;
    margin-left: 100px;
    font-size: 25px;
}

.test6 {
    word-spacing: 100px;
    font-family: fantasy
}

.test7 {
    font-style: italic;
    font-size: 100px;
}

.test8 {
    text-align: right;
    margin-right: 500px;
}

//TODO: Class styles 4-8; tags: head,body,ul,li,a,div,p,textarea,table,th,tr,td.